@{
    ViewBag.Title = "编辑缴费编号";
}
@model Property.UI.Models.PaymentNoModel
<div class="row wrapper border-bottom white-bg page-heading">
    @Html.Partial("~/Views/Shared/_BreadCrumb.cshtml", new ViewDataDictionary { { "HasBack", "true" } })
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑缴费编号</h5>
                </div>
                <div class="ibox-content">

                    @using (Ajax.BeginForm("EditNumber", "PaymentNo", "", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.PlaceType)
                            <!--如果当前小区是住宅小区-->
                            @if (Model.PlaceType == Property.Common.ConstantParam.PLACE_TYPE_HOUSE)
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-3">所属户<span class="text-danger">*</span></label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.BuildId, Model.BuildList, "请选择楼座", new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.UnitId, Model.UnitList, "请选择单元", new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.DoorId, Model.DoorList, "请选择单元户", new { @class = "form-control" })
                                    </div>
                                </div>
                            }
                            else if (Model.PlaceType == Property.Common.ConstantParam.PLACE_TYPE_COMPANY)
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-3">所属单位<span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.BuildCompanyId, Model.BuildCompanyList, "请选择所属办公楼单位", new { @class = "form-control" })
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="control-label col-md-3">缴费类型<span class="text-danger">*</span></label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.ExpenseTypeId, Model.ExpenseTypeList, "请选择缴费类型", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">缴费编号<span class="text-danger">*</span></label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.ExpenseNumber, new { @class = "form-control", @placeholder = "缴费编号", @required = true, @maxlength = 50 })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">备注<span class="text-danger">&nbsp;&nbsp;</span></label>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.Memo, new { @class = "form-control", @placeholder = "备注", @maxlength = 500 })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="确定" class="btn btn-primary" />
                                    <a class="btn btn-white" href="/PaymentNo/NumberList">取消</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/validate")
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/validate/expenseNumberValidate.js"></script>
    <script type="text/javascript" src="~/Scripts/build-unit-door-select.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            //楼座单元户下拉框选择变化监听
            buildUnitChange("PaymentNo");
            //表单验证
            NumberValidate();
        });

        function OnSuccess(data) {
            if (data.Code == "OK") {
                window.location.href = "/PaymentNo/NumberList";
            }
            else {
                swal({
                    title: data.Msg,
                    type: "error",
                    text: ""
                });
            }
        }
        function OnFailure(err) {
            swal({
                title: "请求出现异常,编辑失败",
                type: "error",
                text: ""
            });
        }
    </script>
}