@{
    ViewBag.Title = "问题详情";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}

@model Property.UI.Models.Weixin.QuestionDetailModel

<div class="feed-element border-bottom white-bg" style="border-top: 1px solid #E7EAEC; padding: 8px; margin: 0.8rem 0 0 0;">
    <p style="margin:0px 8px 0 0"><img class="pull-left" alt="image" src="/Images/WeiXin/position.png" style="width:13px;height:16px;"></p>
    <h4 style="color:#0172ff; margin:1px 0 8px 20px;">@Model.PropertyName @Model.Title</h4>
    <p></p>
    <div class="media-body">
        <h4 style="word-break:break-all;color: #000;">@Model.Desc</h4>
    </div>
    <div id="imgs" class="media-body">
        @{
            for (var i = 0; i < Model.Imgs.Length; i++)
            {
                <img alt="image" src="@Model.Imgs[i].ToString()" style="width:30%;height:68px;margin:8px 6px 0 0;">

            }
        }
    </div>
</div>
<div class="feed-element border-bottom white-bg" style="border-top: 1px solid #E7EAEC; padding: 8px; margin: 0.8rem 0 0 0;">
    <h4 style="color:#000;">上报时间<span class="right">@Model.UploadTime</span></h4>
</div>
<div class="feed-element border-bottom white-bg" style="border-top: 1px solid #E7EAEC; padding: 8px; margin: 0.8rem 0 0 0;">
    <h4 style="color:#000;">
        处理状态
        @if (Model.Status == 0)
        {
            <span class="right" style="color: #FD680E">未处理</span>
        }
        @if (Model.Status == 1)
        {
            <span class="right" style="color: #2A83FE">已处理</span>
        }
    </h4>
</div>
<div class="feed-element border-bottom white-bg" style="border-top: 1px solid #E7EAEC; padding: 8px; margin: 0.8rem 0 0 0;">
    <h4 style="color:#000;">处理时间<span class="right">@Html.Raw((String.IsNullOrEmpty(Model.DisposesTime) ? "" : Model.DisposesTime))</span></h4>
</div>
<div class="feed-element border-bottom white-bg" style="border-top: 1px solid #E7EAEC; padding: 8px; margin: 0.8rem 0 0 0;">
    <h4 style="color:#000;">处理情况</h4>
    <div style="font-size: 13px;color:#6B6D6B;font-family: 黑体">
        @Html.Raw(Model.DisposeDesc)
    </div>
</div>
@section Styles{

    <style type="text/css">
        .border-top {
            border-top: 1px solid #e7eaec !important;
        }

        .media-body img {
            max-width: 100%;
        }

        span {
            margin-right: 0px;
        }

        .right {
            position: absolute;
            right: 8px;
            color: #6B6D6B;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript" src="~/Scripts/weixin/jweixin-1.0.0.js"></script>
    <script>
    wx.config({
        debug: false,
        appId: '@ViewBag.appId',
        timestamp:@ViewBag.timestamp,
        nonceStr: '@ViewBag.nonceStr',
        signature: '@ViewBag.signature',
        jsApiList: [
          'chooseImage',
          'previewImage',
          'uploadImage',
          'downloadImage'
        ]
    });
    wx.error(function (res) {
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });
    wx.ready(function () {
        wx.hideOptionMenu();
    })

    //图片放大
    $(document).on('click', '#imgs img',function(event) {
        var imgArray = [];
        var curImageSrc = "http://v.homekeeper.com.cn"+$(this).attr('src');
        var oParent = $(this).parent();
        if (curImageSrc && !oParent.attr('href')) {
            $('#imgs img').each(function(index, el) {
                var itemSrc = "http://v.homekeeper.com.cn"+$(this).attr('src');
                imgArray.push(itemSrc);
            });
            wx.previewImage({
                current: curImageSrc,
                urls: imgArray
            });
        }
    });
    </script>
}


