@{
    ViewBag.Title = "处理上报问题";
}

@model Property.UI.Models.DisposeQuestionModel
<div class="row wrapper border-bottom white-bg page-heading">
    @Html.Partial("~/Views/Shared/_BreadCrumb.cshtml", new ViewDataDictionary { { "HasBack", "true" } })
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>处理上报问题</h5>
                </div>
                <div class="ibox-content">

                    @using (Ajax.BeginForm("DisposeQuestion", "Question", "", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">问题标题<span class="text-danger">*</span></label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @readonly = "readonly", @required = true })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">处理描述<span class="text-danger">*</span></label>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.DisposeDesc, new { @class = "form-control", @placeholder = "处理描述", @rows = 5 })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">是否发布公示<span class="text-danger">&nbsp;&nbsp;</span></label>
                                <div class="col-md-6">
                                    <div class="i-checks">
                                        @Html.CheckBoxFor(m => m.IsPublish)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="确定" class="btn btn-primary" />
                                    <a class="btn btn-white" href="/Question/QuestionList">取消</a>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")

    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
}
@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/validate")
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green'
            });

            $("#form").validate({
                rules: {
                    DisposeDesc: {
                        required: true,
                        maxlength: 1000
                    }
                },
                messages: {
                    DisposeDesc: {
                        required: "请输入处理描述",
                        maxlength: "长度不能超过1000位"
                    }
                }
            });
        });
        function OnSuccess(data) {
            if (data.Code == "OK") {
                window.location.href = "/Question/QuestionList";
            }
            else {
                swal({
                    title: data.Msg,
                    type: "error",
                    text: ""
                });
            }
        }
        function OnFailure(err) {
            swal({
                title: "请求出现异常,处理失败",
                type: "error",
                text: ""
            });
        }
    </script>
}
