@model Property.Entity.T_Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "物业公司详细";
}

<div class="row wrapper border-bottom white-bg page-heading">
    @Html.Partial("~/Views/Shared/_BreadCrumb.cshtml", new ViewDataDictionary { { "HasBack", "true" } })
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <h2 class="font-bold m-b-xs">
                        <span><img src="@Model.Img" class="img-circle" alt="" width="40" height="40" /></span>
                        @Model.Name
                    </h2>
                    <hr>
                    <h4>公司介绍</h4>
                    <div>
                        @Html.Raw(Model.Content)
                    </div>

                </div>
                <div class="ibox-footer">
                    <span class="pull-right">
                        联系电话 - <i class="fa fa-phone"></i> @Model.Tel
                    </span>
                    地址 - <i class="fa fa-map-marker"></i> @Model.Address
                </div>
            </div>

        </div>
    </div>

</div>