@model Property.UI.Models.PropertyUserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "设置管理员";
}

<div class="row wrapper border-bottom white-bg page-heading">
    @Html.Partial("~/Views/Shared/_BreadCrumb.cshtml", new ViewDataDictionary { { "HasBack", "true" } })
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>设置管理员</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm("SetAdministrator", "PropertyPlace", "", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "form", name = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.Partial("~/Views/PlaceShared/_SetAdmin.cshtml")
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="确定" class="btn btn-primary" />
                                    <a class="btn btn-white" href="/PropertyPlace/PlaceList">取消</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/validate")
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#form").validate({
                rules: {
                    UserName: {
                        required: true,
                        LetterOrNumber: true,
                        maxlength: 50,
                        remote: {
                            type: "POST",
                            url: "/PropertyPlace/RemoteUserCheckExist",
                            data: {
                                userName: function () { return $("#UserName").val(); }
                            }
                        }
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                        LetterOrNumber: true,
                        maxlength: 32,
                        minlength: 6
                    },
                    ConfirmPassword: {
                        required: true,
                        LetterOrNumber: true,
                        maxlength: 32,
                        minlength: 6,
                        equalTo: "#Password"
                    }
                },
                messages: {
                    UserName: {
                        required: "请输入管理员用户名",
                        maxlength: "长度不能超过50位",
                        remote: "该用户名已存在"
                    },
                    Email: {
                        required: "请输入管理员邮箱",
                        email: "请输入格式正确的邮箱地址"
                    },
                    Password: {
                        required: "请输入管理员密码",
                        maxlength: "长度不能超过32位",
                        minlength: "长度不能小于6位"
                    },
                    ConfirmPassword: {
                        required: "请输入确认密码",
                        maxlength: "长度不能超过32位",
                        minlength: "长度不能小于6位",
                        equalTo: "密码前后不一致"
                    }
                }
            });
        });

        function OnSuccess(data) {
            if (data.Code == "OK") {
                window.location.href = "/PropertyPlace/PlaceList";
            }
            else {
                swal({
                    title: data.Msg,
                    type: "error",
                    text: ""
                });
            }
        }
        function OnFailure(err) {
            swal({
                title: "请求出现异常,设置管理员失败",
                type: "error",
                text: ""
            });
        }
    </script>
}







