@{
    Layout = "";
}
@model Property.UI.Models.UserPassResetModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密码重置</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/animate.css" rel="stylesheet">
    <link href="/Content/style.css" rel="stylesheet">
    <style>
        .field-validation-error {
            color: red;
            font-weight: bold;
            font-size: 1.0em;
        }
    </style>
</head>

<body class="gray-bg">
    <br />
    <div class="wrapper wrapper-content animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-left:15%;margin-right:15%">
                    <img src="~/Images/reset_pass_icon.png" />
                </div>
                <br />
                <div class="ibox" style="margin-left:15%;margin-right:15%">
                    <div class="ibox-content">

                        <h2 class="font-bold">密码重置</h2>
                        <br /><br /><br /><br /><br /><br />
                        <div class="row" style="margin-left:25%;margin-right:25%">

                            @using (Html.BeginForm("UserResetPassword", "Common", FormMethod.Post, new { id = "form" }))
                            {
                                @Html.HiddenFor(u => u.UserId)
                                @Html.HiddenFor(u => u.Activecode)
                                <div class="form-group-lg">
                                    <div class="input-group m-b-md">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div><div class="form-group-lg">
                                    <div class="input-group m-b-md">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(m => m.Password, new { placeholder = "请输入密码", @Maxlength = "32", @class = "form-control" })
                                    </div>
                                </div><div class="form-group-lg">
                                    <div class="input-group m-b-md">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "请输入确认密码", @Maxlength = "32", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    @Html.ValidationMessageFor(m => m.Password)
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                                <div class="form-group-lg">
                                    <div class="input-group m-b-md col-md-12">
                                        <input type="submit" class="form-control text-white" style="background-color:#0ca7bd" value="完成" />
                                    </div>
                                </div>
                            }
                        </div>
                        <br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="/Scripts/jquery-2.1.1.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>

</html>