@model Property.UI.Models.RoleAuthModel
@{
    ViewBag.Title = "分配权限";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    @Html.Partial("~/Views/Shared/_BreadCrumb.cshtml", new ViewDataDictionary { { "HasBack", "true" } })
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h5>@Model.Role.RoleName 分配权限</h5>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <form method="post" id="authForm" action="/CompanyRole/ConfigAuth" class="form-horizontal">
                        @Html.Hidden("RoleId", @Model.Role.RoleId)
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <tr>
                                <th class="col-xs-3">
                                </th>
                                <th>
                                    <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" name="allCheckMark"> 全选</label>

                                </th>
                            </tr>
                            @foreach (var menu in @Model.MenuList)
                            {

                                <tr>
                                    <th class="col-xs-3">
                                        <label class="checkbox-inline">
                                            @if (menu.Actions != null && menu.Actions.Count() > 0)
                                            {
                                                <i class="fa fa-file-o"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-folder-open-o"></i>
                                            }
                                            <strong>
                                                @menu.MenuName
                                            </strong>
                                        </label>
                                    </th>
                                    <th>
                                        @if (menu.Actions != null && menu.Actions.Count() > 0)
                                        {
                                            <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" value="@menu.Id" name="checkall"> 全选</label>

                                            foreach (var item in menu.Actions)
                                            {
                                                if (Model.ActionIds.Contains(item.Id))
                                                {
                                                    <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" class="menu_@menu.Id" checked="checked" value="@item.Id" name="ids"> @item.ActionName</label>
                                                }
                                                else
                                                {
                                                    <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" class="menu_@menu.Id" value="@item.Id" name="ids"> @item.ActionName</label>
                                                }
                                            }
                                        }
                                    </th>
                                </tr>
                                foreach (var level2 in menu.ChildMenus)
                                {
                                    <tr>
                                        <td>
                                            <div class="col-xs-1"></div>
                                            <label class="checkbox-inline">
                                                @if (level2.Actions != null && level2.Actions.Count() > 0)
                                                {
                                                    <i class="fa fa-file-o"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa fa-folder-open-o"></i>
                                                }

                                                @level2.MenuName
                                            </label>
                                        </td>
                                        <td>
                                            @if (level2.Actions != null && level2.Actions.Count() > 0)
                                            {
                                                <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" value="@level2.Id" name="checkall"> 全选</label>

                                                foreach (var item in level2.Actions)
                                                {
                                                    if (Model.ActionIds.Contains(item.Id))
                                                    {
                                                        <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" class="menu_@level2.Id" checked="checked" value="@item.Id" name="ids"> @item.ActionName</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" class="menu_@level2.Id" value="@item.Id" name="ids"> @item.ActionName</label>
                                                    }
                                                }
                                            }
                                        </td>
                                    </tr>
                                    foreach (var level3 in level2.ChildMenus)
                                    {
                                        <tr>
                                            <td><div class="col-xs-2"></div><label class="checkbox-inline"><i class="fa fa-file-o"></i> @level3.MenuName</label></td>
                                            <td>
                                                @if (level3.Actions != null && level3.Actions.Count() > 0)
                                                {
                                                    <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" value="@level3.Id" name="checkall"> 全选</label>
                                                    
                                                    foreach (var item in level3.Actions)
                                                    {
                                                        if (Model.ActionIds.Contains(item.Id))
                                                        {
                                                            <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" class="menu_@level3.Id" checked="checked" value="@item.Id" name="ids"> @item.ActionName</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="checkbox-inline i-checks" style="margin-left:10px;"> <input type="checkbox" class="menu_@level3.Id" value="@item.Id" name="ids"> @item.ActionName</label>
                                                        }

                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }

                            }
                        </table>

                        <div class="form-group" style="width:100%;">
                            <div class="col-xs-offset-5 col-xs-12">
                                <input type="button" value="确定" class="btn btn-primary" onclick="formSubmit()" />

                                <a class="btn btn-white" href="/PropertyRole/RoleList">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section  Styles{
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    <link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    <script>

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //全选
            $('input[name="allCheckMark"]').on('ifChecked', function (event) {
                $('input[name="ids"]').iCheck('check');
                $('input[name="checkall"]').iCheck('check');
            });

            //全部取消
            $('input[name="allCheckMark"]').on('ifUnchecked', function (event) {
                $('input[name="ids"]').iCheck('uncheck');
                $('input[name="checkall"]').iCheck('uncheck');
            });

            //行全选
            $('input[name="checkall"]').on('ifChecked', function (event) {
                var currentMenuId = $(this).val();

                $('input[name="ids"]').each(function () {
                    if ($(this).hasClass('menu_' + currentMenuId + '')) {
                        $(this).iCheck('check');
                    }
                });
            });

            //行全部取消
            $('input[name="checkall"]').on('ifUnchecked', function (event) {
                var currentMenuId = $(this).val();

                $('input[name="ids"]').each(function () {
                    if ($(this).hasClass('menu_' + currentMenuId + '')) {
                        $(this).iCheck('uncheck');
                    }
                });
            });

            checkAllCyel();
        });

        function checkAllCyel() {
            //如果行所有权限都选中，那么行全选被选中
            $('input[name="checkall"]').each(function () {
                var bool = true;
                var currentMenuId = $(this).val();

                $('input[name="ids"]').each(function () {
                    if ($(this).hasClass('menu_' + currentMenuId + '')) {
                        if ($(this).is(':checked') == false) {
                            bool = false;
                            return false;
                        }
                    }
                });

                if (bool) {
                    $(this).iCheck('check')
                }
                else {
                    $(this).iCheck('uncheck')
                }
            });

            //如果所有权限都选中，那么全选被选中
            var idscheck = $("input[name='ids']:checked").length;
            var idsall = $("input[name='ids']").length;
            if (idscheck == idsall) {
                $('input[name="allCheckMark"]').iCheck('check');
            }
        }

        //表单提交
        function formSubmit() {

            $("#authForm").ajaxSubmit({
                beforeSubmit: function () {

                },
                success: function (data) {
                    if (data.Code == "OK") {
                        window.location.href = "/CompanyRole/RoleList";

                    } else {
                        swal({
                            title: data.Msg,
                            type: "error",
                            text: ""
                        });
                    }
                },
                error: function (error) {
                    swal({
                        title: "请求出现异常,权限分配失败",
                        type: "error",
                        text: ""
                    });
                }
            });
        }
    </script>
}


